.App {
  height: 100%
}
* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.axis {
  color: grey
}

h1 {
  font-size: 30pt;
}
h2 {
  font-size: 20pt;
}
input {
  color:white
}
.mainscreen-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}

.controls-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100vh;
  width: 300px;
}

.control-input {
  margin: 2px;
  padding: 2px;
  width: 50px; 
  height: 30px;
  border-radius: 5px;
  color: black;
  background-color: #eeebeb;
  border: 1px solid #333;
}

.control-launch-div {
  display: flex;
  align-items: center;
}

.control-launch-button {
  width: fit-content;
  height: 30;
}
.coordinate-input {
  justify-content: left;
  display: flex;
  flex-direction: row;
  height: unset
}

/* This isn't working as I'd like */
.control-name-input {
  width: 100%;
  /* This stuff should go away if I figure out inheritance */
  height: 30px;
  background-color:#eeebeb;
  color: black;
}

.control-label {
  font-size:14pt;
  margin: 2px;
  padding: 2px;
  color: white;
  height: unset
}

.control-button {
  height: 30px;
  width: 100%;
}

.as-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.as-input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: black;
}
.as-label {
  color: white;
  font-size: 12pt;
  margin: 2px;
}

.as-input {
  color: black;
  background-color: #eeebeb;
  border: 1px solid #333;
  height: 24px;
  width: 30px;
}

.as-button {
  
}
.blue-button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  overflow: visible;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.blue-button:disabled {
  cursor: default;
  opacity: .3;
}

.blue-button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.blue-button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.blue-button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.orbitron-special {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ship-info-window {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  border: 3px solid #b6bcae;
  z-index: 5;
}

.button-next-round {
  margin-top: auto
}

.control-form {
  padding-top: 15px;
}